/* You can add global styles to this file, and also import other style files */
* {
    background-color: rgb(51, 69, 92);
    margin: 0;
    padding: 2px;
    font-family: Helvetica;
}

a {
    color: orange;
    background-color: bisque;
}

body {
    padding-bottom: 500px;
}

.class {
    border-bottom: 1px solid red;
    padding: 2em;
    margin-bottom: 1em;
}